@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.main-slide{
  padding-top: 30px;
}

.carousel .slider-wrapper{
  max-width: 75%;
  max-height: 50%
}

.carousel .thumb{
  width: 5%;
  height: 50px;
}

.carosel{
  text-align: center;
}

body {
  background: #000000;
  color: rgb(125, 18, 255);
  font-family: "Press Start 2P";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
img {
  object-fit: contain;
}